@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Light"),
    url("https://s3.0xgen.io/font/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Regular"),
    url("https://s3.0xgen.io/font/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Medium"),
    url("https://s3.0xgen.io/font/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Bold"),
    url("https://s3.0xgen.io/font/Roboto-Bold.woff") format("woff");
}
